@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');
@import "_variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 3rem;
    background-color: color(--very-dark-blue);   
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cont {
    background-color: color(--dark-blue);
    border-radius: 0.8rem;
    padding: 3rem;
}

/*-- header --*/
.header {
    border-top-right-radius: 5rem;
    margin-bottom: 2rem;
    .icons {
        display: flex;
        margin-top: 2rem;
        .icon {
            background-color: color(--very-dark-blue);
            margin-right: 2rem;
            padding: 1rem;
            border-radius: 0.8rem;
            display: flex;
            align-items: center;
        }
    }
}

/*-- content --*/
.content {
    color: color(--pale-blue);
    font-size: 14px;
    position: relative;
    .title {
        text-align: center;
    }
    .progress-bar {    
        width: 100%;  
        height: 1rem;
        background-color: color(--very-dark-blue);
        margin: 1rem 0;
        border-radius: 1rem;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 80%;
            height: 1rem;
            background-image: color(--gradient);
            border-radius: 1rem;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1rem;
            height: 1rem;
            background-color: color(--pale-blue);
            border-radius: 1rem;
            transform: translateX(12rem);
        }   
    }
    .label {
        display: flex;
        justify-content: space-between;
    }
    .overlap {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: color(--pale-blue);       
        border-radius: 0.8rem;
        width: 50%;
        padding: 1rem;
        position: absolute;
        bottom: -3rem;
        right: 6rem ;
        h1 {
            margin-right: 0.5rem;
            font-size: 2.5rem;
            color: color(--very-dark-blue);
        }
        p {
            color: color(--grayish-blue);
            letter-spacing: 0.1rem;
            font-size: 13px;
            font-weight: 700;
        }
    }
}

/*--attribute--*/ 
.attribution { 
    font-size: 11px; 
    text-align: center; 
    transform: translateY(5rem);
    a {
        color: hsl(0, 0%, 56%);
        text-decoration: none;
    }
}

/*--media queries--*/ 
@media screen and (max-width: 61em) {
    body {
        background-image: url(/images/bg-mobile.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}
@media screen and (max-width: 90em) {
    body {
        background-image: url(/images/bg-desktop.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}
/*--device screen with 992px above--*/ 
@media screen and (min-width: 62em) {
    .container {
    display: flex;  
    justify-content: center;
    align-items: center; 
    }

    .header {
        height: min-content;
    }
    
    .content {
        width: 40em;
        height: min-content;
        margin-left: 2rem;
        transform: translateY(0.6rem);

        .progress-bar {
            &::after {
                transform: translateX(22.5rem);
            }
        }

        .overlap {
            position: absolute;
            top: -20%;
            right: 9%;
            width: 40%;
            padding: 0.5rem;
            height: min-content;
            border-radius: 0.8rem 0.8rem 0 0.8rem;

            &::after {
                content: '';
                position: absolute;
                bottom: -1.9rem;
                right: 0;
                width: 2rem;
                height: 2rem;
                background-color: color(--pale-blue);
                clip-path: polygon(1% 0, 100% 100%, 100% 0);
                }
            }
        }

        .attribution {
            position: absolute;
            bottom: 0;
        }
    
}